# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# IDE files
.vscode/
.idea/

# Temp files
*.tmp
*.swp

# Node (future proof)
node_modules/

# Python (future proof)
__pycache__/
*.pyc
